* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* flex  */
.row {
    display: flex;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
/* colonne schema da 12 */
.col-2 {
    flex-basis: calc(100% / 6);
}
.col-8 {
    flex-basis: calc(100% / (12 / 8) );
}
.col-7 {
    flex-basis: calc(100% / (12 / 7) );
}
.col-5 {
    flex-basis: calc(100% / (12 / 5) );
}
.col-12 {
    flex-basis: 100%;
}


/* header  */

.container__first-section {
    display: flex;
    justify-content: center;
}
.link {
    text-align: center;
}
.login {
    text-align: right;
}

/* prima sezione  */
.first-section{
    background-color: blue;
    padding: 40px;

}
/* seconda sezione */
.section-seven-five {
    min-height: 400px;
}
.section-twelve {
    background-color: lightgray;
    padding: 40px;
    min-height: 400px;
}

/* DEBUG */
.debug .page-header {
    min-height: 80px;
    padding: 20px;
    background-color: aqua;
    
}
.debug .page-header .row .logo,.link,.login {
    background-color: yellow;
    border: 2px dashed black;
    padding: 10px;
    
}

.debug .first-section{
    /* background-color: blue; */
    min-height: 400px;
    /* padding: 40px; */

}

.debug .first-section .row {
    border: 2px dashed black;
    min-height: 350px;
    background-color: palevioletred;
    max-width: 800px; 
    flex-basis: 800px;
}
.debug .section-seven-five {
    background-color: white;
    min-height: 400px;
    padding: 40px;

}

.debug .section-seven-five .row {
    border: 2px dashed black;
    min-height: 350px;
  
}
.debug .col-7 {
    background-color: lightblue;
}
.debug .col-5 {
    background-color: lightpink;
}

.debug .background-gray {
    background-color: lightgray;
}
.debug .section-twelve .row .col-12 {
    background-color: green;
    min-height: 700px;
    border: 2px dashed black;
}